<html>
<head>
  <link rel="stylesheet" href="../index.css">
</head>
<body>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <style>
      body {
        font-family: 'Noto Sans', serif;
      }
    </style>
<h1>Property list</h1>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" class="sign_out_button" />
</form>
<h3>Welcome, <%= @user.email %></h3>

<form action="/property/new">
  <input type="submit" value="Add property" class="add-button" />
</form>


  <% @properties.each do |property| %>
  <table class="center">
    <thead>
      <tr>
        <td><%= property.name %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= property.description %></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>£<%= property.cost %> per night</td>
      </tr>
    </tfoot>
  </table>
<div>
  <form action="/property/<%= property.id %>/book" method="get">
      <input type="submit" value="Request Booking" class="request-button"/>
  </form>
</div>
  <% end %>
</head>
</body>
</html>
