<h1>Welcome to Makersbnb</h1>
<h1>Welcome, <%= @user.email %></h1>

<form action="/property/new">
  <input type="submit" value="Add property" />
</form>

<ul>
  <% @properties.each do |property| %>
  <table>
    <thead>
      <tr>
        <td><%= property.name %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= property.description %></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>£<%= property.cost %></td>
      </tr>
    </tfoot>
  </table>
  <form action="/property/<%= property.id %>/book" method="get">
      <input type="submit" value="Request Booking" />
    </form>
  <% end %>
</ul>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
